<h1>Bienvenidos!</h1>
<p>Le damos la bienvenida al sistema integrado de la Promocion 2000:</p>
<p>Algunas de las opciones que encontraras disponibles son:</p>
<ul>
    <li><strong>Acceso a contenidos</strong>. Por ejemplo, galerias de fotos, proximos eventos, directorio telefonico.</li>
    <li><strong>Acceso a pagos en linea</strong>. Pronto a implementarse, pago seguro via PayPal.</li>
    <li><strong>Administracion</strong>. Gestion de accesos al sistema.</li>
</ul>
<br/>
<h4>El sistema integrado de la Promocion Jubileo 2000 utiliza tecnologias de ultima generacion que garantizan un acceso rapido, seguro y confiable. </h4>
